body{
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.jpg");
}
.Page {
    margin:0 auto;
    padding: 0;
    width: 1000px; /*78% 1000px*/
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-family: Tahoma, sans-serif;
    position: relative;
    border-bottom: 2px solid black;
}
.Header{
    height: 175px;
}

.Logo_img{
    padding-left: 28px;
    padding-top: 60px;
}
#Under_logo{
    padding-top: 20px;
    padding-left: 100px;
    font-size: 12px;
    color: #128aa7;
}
.Contacts{
    position: absolute;
    top: 10px;
    right: 32px;
    font-size: 12px;
    color: #128aa7;
    line-height: 1.5;
}

.Text_bold{
    font-weight: bold;
}

.Countries-logo{
    position: absolute;
    right: 37px;
    top: 110px;
}
.Countries-logo img {
    margin-left: 18px;
}
.Countries-link{
    position: absolute;
    right: 28px;
    top: 157px;
    font-size: 10px;
}
.Countries-link a{
    display: inline-block;
    width: 62px;
    text-align: center;
}
.Photo {
    /*display: block;*/
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
   /* width: 1000px;*/
}

/* Главное Меню */

.MainMenu-wrapp{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 28px;
    background-color: #313131;
    border-bottom: 1px solid black;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    height: 28px;
}
    
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    line-height: 28px;
    padding-left: 34px;
    padding-right: 34px;
    color: white;
    background-color: #313131;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: #313131;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 160px;
    top: 28px;
    left: 0;
    background-color: white;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #313131;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.Content {
    width: 1000px;
    font-size: 14px;
    color: #424c43;
    line-height: 2;
    overflow: hidden; /* чтобы лишее обрезалось */
}
.leftColumn {
    width: 209px;
    text-align: center;
    float: left;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.centerColumn {
    width: 580px;
    text-align: center;
    float: left;
    background: #ffffff;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.rightColumn {
    width: 209px;
    text-align: center;
    float: left;
    background: #edeef0;
    border-left: 1px solid #c7cacf;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.Footer{
    /*height: 30px;*/
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}