body {
    font-family: Tahoma;
    background: #ccc;
}
.slider-box{
    margin: 70px auto;
    border: 10px solid white;
    border-radius: 10px;
    height: 480px;
    width: 800px;
    position: relative;
    overflow: hidden;
}
.scroll{
    position: absolute;
}
.scroll--left{
    top: 50%;
    left: 30px;
    z-index: 100;
}
.scroll--right{
    top: 50%;
    right: 30px;
    z-index: 100;
}
.image{
    display: inline-block;
    position: relative;
    
    
    left: 0;
    /*opacity: 1;
    left:0;
    top: 0;*/
    /*-webkit-transition: left .5s;*/
    transition: left .5s;
}
.image1{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

}
.image2{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 800px;
    z-index: 5;
}
.image3{
    display: inline-block;
    position: absolute;
    top: 0;
    left: -800px;
    z-index: 1;
}
