body {
    font-family: Tahoma;
    background: white;
}
.main-wrapper{
    display: block;
    width:80%;
	margin: 30px auto;
	background: white;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.menu li {
    display: block;
    margin-left: 5px;
    float: left;
    width: 150px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    text-align: center;
    line-height: 40px;
}
.menu-wrapper{
    padding-top: 10px;
    overflow: hidden;
    width: 100%;
    background: grey;
    border-radius: 5px;
    
}
.menu li a{
    text-decoration: none;
    text-align: center;
    color: darkcyan;
}
.text-wrapper{
    clear: both;
    padding: 30px;
}
#active-tab{
    display: block;
    background: white;
    border-bottom: 1px solid white;
}
.tabs{
   background: #ddc; 
}
.tabs-hover{
    background: #4FE163;
}
#active-tab a{
    color: black;
}
.tabs-text{
    display: none;
}
#active-text{
    display: block;
}

