<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
     <link href="css/style.css" rel="stylesheet">
</head>
<body>
   <script type="text/template" id="wrapper-template">
   
    <div class="wrapper">
        <ul class="item-list"></ul>
        <div class="controlls">
            <input type="text" class="item-value">
            <button class="item-add">Add</button>
            <button class="item-update">Update</button>
        </div>
    </div>
    </script>
    <script type="text/template" id="list-template">
    <% for (var i=0; i<data.length; i++) { %>
    <li><%= data[i] %> <span data-value="<%= data[i] %>" class="item-delete"></span> <span data-value="<%= data[i] %>" class="item-edit"></span></li>
    <% }; %>
    </script>
    <script data-main="js/app.js" src="js/require.js"></script>
</body>
</html>