body{
    background-color: #ffffff;
    
}
.Wrapper{
    margin: 0 auto;
    margin-top: 22px;
    outline: none;
    width: 925px;
}
header{
    margin: 0 auto;
    
}
.phone img{
    width: 15px;
    height: 20px;
    padding-left: 3px;
    float: left;
} 
.phone{
    margin-left: 7px;
    height: 21px;
    width: 22px;
    background: #0e385c;
    border-radius: 100%;
    float:left;
}
#phone-number{
    margin-left: 3px;
    letter-spacing: .4px;
    color: #5e696d;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    float:left;
}
.authorization{
    margin-left: 17px;
    margin-top: -2px;
    width: 495px;
    height: 25px;
    background-color: #b1bcc0;
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    border-radius: 4px;
    box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150,
    0.75);
    float: left;
}

.authorization img{
    margin-left: 7px;
    margin-top: 4px;
    float: left;
}
.authorization form{
    display: block;
    margin-top: -2px;
    float: left;
}
.account-field{
    display: inline-block;
    vertical-align: middle;
    width: 113px;
    height: 16px;
    background-color: white;
    border: 1px solid #9ba1a3;
    color: #97a2a6;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    font-weight: 400;
    border: 1px solid #9ba1a3;
    padding-bottom: 5px;
}
input[id="Login"]{
    margin-left: 3px;
    padding: 0;
    height: 16px;
    background-color: white;
}
input[id="pwd"]{
    margin-left: 2px;
    padding: 0;
}
input[value="вход"]{
    cursor: pointer;
    padding-top: 2px;
    padding-left: 2px;
	background: none;
	width: 34px;
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    font-weight: 400;
    border: none;
    line-height: 25px;
}

#delimiter{
    display: block;
    margin-left: -1px;
    padding-top: 0px;
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    float:left;
}
#registration{
    display: block;
    padding-top: 0px;
    margin-left: 2px;
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    font-weight: 400;
    border: none;
    line-height: 25px;
    text-decoration: none;
    float: left;
}
#forgot-pwd{
    float: left;
    padding-top: 1px;
    margin-left: 18px;
    color: #bfbfbf;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: underline;
}

nav{
    float: left;
    margin-left: 17px;
    margin-top: -3px;
    width: 75px;
    height: 20px;
    background-color: white;
    border: 1px solid #bdc4c7;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
nav a{
    line-height: 17px;
    padding-left: 7px;
}
.clearfix:after {
    content: '';
    clear: both;
    float: none;
    display: block;
}
#MainPhoto img{
    margin-top: 8px;
}
.MainMenu-wrapp{
    margin-top: 4px;
    width: 910px;
    height: 32px;
    background-image: linear-gradient(to top, black, #576068 );
    border: 1px solid #0d1642;
    border-radius: 5px;
    box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}
ul {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: "Lucida Sans Unicode";
    height: 34px;
    width: 683px;
}
    
ul.menu > li {
    float: left;
}
#First-A{
    display: block;
    margin-left: 127px;
    padding-left: 18px;
    padding-right: 18px;
}
ul.menu > li > a {
    display: block;
    line-height: 34px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
    font-weight: 400;
    color: #b1bcc0;
}
ul.menu > li > a:hover {
    margin-top: 4px;
    margin-bottom: 4px;
    background-image: linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
    border-radius: 13px;
    height: 26px;
    line-height: 26px;
    color: white;
}
    .basket-status{
     height: 34px;
}

#basket-img{
   vertical-align: middle;
  
}
.basket-text1{
    line-height: 34px;    
    padding-left: 3px;
    color: #8a9296;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
}
.basket-text2{
    line-height: 34px;    
    padding-left: 11px;
    color: #8a9296;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
}
.sum1{
    color: #0d5a8f;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
}
.sum2{
    padding-left: 13px;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
}
.Empty-forms{
    height: 160px;
    width: 925px;
}
.Goods-group{
    float: left;
}
.Catalog{
    margin: 4px 0 13px -1px;
    width: 181px;
    height: 25px;
    background-color: white;
    border: 1px solid #79878d;
    border-radius: 13px;
    box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}
.icon2{
    margin-top: 2px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    background-color: #e20202;
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    border-radius: 100%;
    float:left;
    text-align: center;
}
.icon2:before{
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.icon2 img{
    display: inline-block;
    vertical-align: middle;
}
.Catalog p{
    margin-left: 5px;
    display: inline-block;
    line-height: 27px;
    color: #114165;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    font-weight: 400;
    
}
.under-group{
    padding: 9px 0 0 29px;
    margin-left: 1px;
    background: url("../img/under-group.png")  no-repeat;
    height: 21px;
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
    color: #114165;
}
.under-group-item{
    display: block;
    width: 130px;
    height: 14px;
    padding: 0 0 0 10px;
    margin: 3px 0 12px 35px;
    color: #465961;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    font-weight: 400;
    background: url(../img/marker.png) no-repeat 0 3px;
    text-decoration: none;
}
.under-group-item-last{
    display: block;
    width: 130px;
    height: 14px;
    padding: 0 0 0 10px;
    margin: 3px 0 2px 35px;
    color: #465961;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    background: url(../img/marker.png) no-repeat 0 3px;
    text-decoration: none;
}
.Goods-group a:hover{
    display: block;
    color: #0c3256;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
   
}
main{
    display: block;
    margin-left: 8px;
    width: 526px;
    height: 627px;
    background-color: white;
    background-image: linear-gradient(to top, #93a7b0, #e5e7e8);
    border-radius: 3px;
    float: left;
}
.goods-item{
    display: block;
    width: 137px;
    height: 126px;
    background-color: white;
    border: 1px solid #a4aeb1;
    border-radius: 7px;  
    margin: 0 auto;
    text-align: center;
}
.goods-item:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.goods-item img{
    display: inline-block;
    vertical-align: middle;    

}
main{
    float: left;
}
.goods-description{
    margin-top: 16px;
    margin-left: 23px;
    margin-right: 6px;
    margin-bottom: 7px;
    width: 138px;
    height: 179px;
    text-align: center;
    float: left; /* Блоки выстраиваются по горизонтали */
}
figure{
    margin: 0;
    padding: 0;
}
figcaption{
    margin: 0 auto;
    width: 138px;
    height: 28px;
    font-family: "Lucida Sans Unicode";
    font-weight: 400;
    line-height: 13px;
}
.good-brand{
    color: #206988;
    font-size: 15px;
}
.good-model{
    color: #1f2528;
    font-size: 13px;
}
.price{
    padding-top: 4px;
    padding-left: 9px;
    color: #114165;
    font-family: Arial;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}
.currency{
    font-size: 12px;
}
.right{
    margin-top: 2px;
    margin-left: 10px;
    float: left;
    
}
.Brands-title{
    width: 181px;
    height: 25px;
    background-color: white;
    border: 1px solid #79878d;
    border-radius: 13px;
    box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}
.Brands-title p{
    margin-left: 8px;
    display: inline-block;
    line-height: 24px;
    color: #114165;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    font-weight: 400;
    }
.right-menu{
    display: block;
    margin-left: 14px;
    margin-top: 14px;
    padding-left: 30px;
    line-height: 28px;
    background: url("../img/round.png") no-repeat;
    background-position: 3px, center;
    color: #0c3256;
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
    width: 105px;
    height: 26px;
    border: 1px solid #79878d;
    border-radius: 13px;
}
.right-menu-item{
    padding-left: 12px;
    color: #465961;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    line-height: 25px;
}
.right-menu-item input[type="checkbox"]{    
    width: 10px;
    height: 10px;
    border: 1px solid #114165;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
    vertical-align: top;
    margin: 9px 9px 0 13px;
}
.right-menu-item label{
    display: inline-block;
    padding-top: 1px;
}
#diski-blin{
    margin-top: 8px;
}
.select{
    margin-top: 16px;
    margin-left: 23px;
    width: 80px;
    height: 26px;
    line-height: 18px;
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    border: 1px solid #a7abae;
    border-radius: 10px;
    
}
.select input[type="submit"]{
    width: 82px;
    color: #e5e9ea;
    background: none;
    border: none;
    font-family: Arial;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
footer{
    clear:both;
    padding-right: 2px;
    width: 912px;
    height: 190px;
}
.brand-logo{
    display: block;
    width: 912px;
    height: 90px;
    text-align: center;
    margin-left: -3px;
}
.brand-logo img{
    margin-top: 39px;    
}
.menu-bottom{
    width: 907px;
    height: 98px;
    background-color: #213a4d;
    border: 1px solid #242a3c;
}
.menu-bottom ul{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 303px;
}
.menu-bottom ul li{
    float: left;
    color: #bec6c9;
    padding-left: 5px;
    padding-right: 6px;
    margin-top: 10px;
    
}
.menu-bottom ul li a{
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    color: #bec6c9;
    text-decoration: none;
}
.menu-bottom ul li a:hover{
    color: #52abcb;
}
.menu-bottom p{
    clear: both;
    padding-top: 6px; 
    color: #7f4740;
    font-family: Arial;
    font-size: 10px;
    text-align: center;
}