body {
    font-family: Tahoma;
    background: white;
}
.MainWrapper {
    display: block;
    width: 320px;
	margin: 30px auto;
	background: white;
}
.MainText {
    display: inline-block;
    margin-top: 5px;
    margin-left: 4px;
    border: none;
    font-size: 60px;
    font-weight: 700;
    height: 100px;
    width: 70px;
    text-align: right;
    background: #ccc;
}
.TimerWrapp{
    box-sizing: border-box;
    margin: 0 auto 30px;
    border: 2px solid black;
    border-radius: 10px;
    background: #ccc;
    /*width 100%;*/
}
.SplitText{
    width: 30px;
}
.OtherText{
    font-size: 36px;
    font-weight: 700;
    height: 30px;
    border: none;
    background-color: #ccc;
    margin: -30px 10px 10px 10px;
}
.OtherText input{
    
    display: inline;
    width: 100%;
    text-align: right;
    background: #ccc;
    border: none;
    
}
.btn{
    width:50px;
    border-radius: 5px;
    border: 2px solid black;
    background: #2CE153;
}
.btn--right{
    float: right;
    background: #E15F23;
}