<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<title>JS22 ES6 Babel</title>
<link href="css/style.css" rel="stylesheet">
<link href="css/reset.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="js/tmpl.js"></script>
<script type="text/javascript" src="js/dist/script.js"></script>
</head>

<body>
    <script type="text/template" id="test-filling">
        <div class="main-wrapper">
         <h1 class="mainH1">Тест по программированию</h1>
            
         <form name="TestForm" class="mainForm">
               <% for (var i=0; i<data.length; i++){ %>
               <p></p>
               <p><%= data[i].question %></p>
                  <ul>
                  <% for (var j=0; j<data[i].answers.length; j++){ %>
                    <li>
                    <input type="radio" name="question<%= i %>" value="<%= j %>" id=""><%= data[i].answers[j] %>
                    </li>
               <% } %> 
               </ul>
            <% } %>
            <input type="submit" value="Проверить мои результаты" class="btnForm">
         </form>
           
        </div>  
  
  </script>
  <div class="modal">
      <h4>Результат проверки</h4>
      <p></p>
      <input type="button" value="Close" class="close-button">
  </div>
  <div class="overlay">
  </div>
</body>
</html>